:root {
    --accent-color: #ff0088;
    --light-color: #ffffff;
    --dark-color: #333;
    font-family: system-ui;
}

html, body, div {
    padding: 0;
    margin: 0;
}
.fade-out {
    opacity: 0;
}
#splash-screen {
    background-color: var(--light-color);
}

.centered-container {
    position: absolute;
    inset: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

#target-frame {
    width: 100vw;
    opacity: 0.5;
}

#target-frame img {
    display: block;
    width: 100%;
}

video {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#result-container {
    position: absolute;
    height: 15vh;
    inset: auto 2rem;
    bottom: 1rem;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    30%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#history-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    padding: 2rem;
    max-height: 80vh;
}

.result-content {
    position: absolute;
    background-color: var(--light-color);
    border-radius: 2rem;
    color: var(--accent-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}